body,
html {
	overflow-x:hidden;
}

.btn-success{
	margin: 10px
}
ul {
	padding: 0;
	margin: 0;
}

ul li {
	list-style: disc;
	font-size: 17px;
	line-height: 1.59;
}

a { 
	text-decoration: none;
	color: #2f2f2f;  
}

a:hover,
a:focus {
	outline: none;
	text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: 'Poppins', sans-serif;
	font-weight: 700;
	margin-top: 0;
}

h1 {
	font-size: 38px;
}

h2 {  
	font-size: 32px; 
	line-height: 1.13; 
}

h3 {  
	font-size: 26px;  
}

h4 {  
	font-size: 22px;  
}

h5 {  
	font-size: 20px;  
}

h6 {  
	font-size: 18px;  
}

img {
	border: none;
	max-width: 100%;
}

.logo {
position: center;
	height: 500px;
	margin: auto;
  width: 50%;
 
}

code {
	background-color: #ee6e73;
	border-radius: 2px;
	color: #fff;
	padding: 2px 4px;
}

pre {
	background-color: #f8f8f8;
	border: 1px solid #eee;
	border-radius: 4px;
	padding: 10px;
}

pre code {
	background-color: transparent;
	color: #333333;
}

del{
	text-decoration-color: #ee6e73;
}

kbd {
	background-color: #ddd;
	padding: 4px 6px;
	border-radius: 2px;
	color: ;
}



dl dt {
	font-weight: 700;
}

dl dd {
	margin-left: 0;
}

blockquote {
	background-color: #f8f8f8;
	border-radius: 0 4px 4px 0;
	padding: 5px 15px;
	
}

blockquote p {
	margin-top: 10px;
}

button {
	padding: 5px 15px;
	border: none;
}

button:focus {
	outline: none;
	border: none;
}

iframe {
	border: none;
}


.scrollToTop {
	bottom: 60px;
	color: #ffffff;
	display: none;
	font-size: 30px;
	line-height: 50px;
	position: fixed;
	right: 20px;
	text-align: center;
	text-decoration: none;
	width: 55px;
	z-index: 999;
	-webkit-transition: all 0.5s ease 0s;
	transition: all 0.5s ease 0s;
	height: 55px;
	border-radius: 10px;
}

.scrollToTop:hover,
.scrollToTop:focus {
  color: #fff;
}

/* Header Content */

#mu-hero {
	background-image: url("../images/fans.gif");
	display: inline;
	float: left;
	width: 100%;
	position: relative;
	background-position: center center;
	background-attachment: fixed;
	-webkit-background-size: cover;
	background-size: cover;
}

#mu-hero:after{
	content: '';
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	height: 100%;
	opacity: 0.84;
	width: 100%;
	z-index: 10;
}

.mu-hero-area {
	display: inline;
	float: left;
	position: relative;
	z-index: 99;
	width: 100%;
}

.mu-hero-top {
	display: inline;
	float: left;
	width: 100%;
	padding: 25px 0;
}


.mu-logo-area {
	display: inline;
	float: left;
	width: 50%;
}

.mu-logo {
	font-size: 30px;
	font-family: 'Poppins', sans-serif;
	display: inline-block;
	font-weight: 700;
	background: #fff;
	max-width: 500px;
}

.mu-logo span{
	display: inline-block;
	padding: 5px 15px;
}

.mu-hero-top-info {
	display: inline;
	float: left;
	text-align: right;
	width: 50%;
}

.mu-hero-top-info ul {
	margin-top: 14px;
}

.mu-hero-top-info ul li {
	list-style: none;
	color: #fff;
	font-size: 18px;
	display: inline-block;
	padding: 0 8px;
	border-left: 1px solid #f8f8f8;
	font-size: 16px;
	float: right;
}

.mu-hero-top-info ul li:last-child {
	border-left: none;
}

.mu-menu-btn {
	position: fixed;
	right: 15%;
	top: 50px;
	color: #fff;
	font-size: 25px;
	border: 2px solid #fff;
	padding: 5px 14px;
	z-index: 999;
	-webkit-transition: all 0.5s;
	-o-transition: all 0.5s;
	transition: all 0.5s;
}

.mu-menu-btn:hover,
.mu-menu-btn:focus {
	border: 2px solid #fff;
}

.mu-scrolldown-area {
	display: inline;
	float: left;
	text-align: center;
	width: 100%;
}

.mu-scrolldown {
	font-size: 40px;
	color: #fff;
	display: inline-block;
	margin-top: 50px;
}

.mu-scrolldown:hover,
.mu-scrolldown:focus {
	color: #fff;
}


/* Featured Intro Section */

.mu-hero-featured-area {
	display: inline;
	float: left;
	padding: 60px 0 150px;
	width: 100%;
}

.mu-hero-featured-content {
	display: inline;
	float: right;
	margin-top: 50px;
	text-align: center;
	width: 100%;
}

.mu-hero-featured-content h1 {
	font-size: 45px;
	color: #fff;
	font-weight: 700;
	margin-bottom: 15px;
}


.mu-hero-featured-content p {
	color: #fff;
	font-size: 20px;
	font-weight: 300;
	line-height: 1.3;
	letter-spacing: 1px;
}

.mu-hero-featured-content h2 {
	color: #fff;
	font-size: 24px;
	margin-bottom: 12px;
	font-weight: 400;
	letter-spacing: 1px;
	display: inline-block;
}

.mu-play-add-btn {
	display: inline-block;
	border: 1px solid #fff;
	background-color: #fff;
	text-transform: uppercase;
	font-size: 18px;
	padding: 10px 20px;
	border-radius: 25px;
	margin-top: 30px;
}

/* About Content - LazyBoi Media */

#mu-about {
	background-color: #fff;
	display: inline;
	float: left;
	width: 100%;
}

.mu-about-area {
	display: inline;
	float: left;
	padding: 100px 0;
	width: 100%;
}

.mu-about-left {
	display: inline;
	float: left;
	width: 100%;
}

.mu-about-right {
	display: inline;
	float: left;
	margin-top: 35px;
	width: 130%;
	background-color: #fff;
	padding: 40px;
	margin-left: -175px;
	box-shadow: 3px 1px 18px -9px #000;
}

.mu-about-right p {
	font-size: 15px;
}


/* " How To... " Content*/

#mu-how-to {
	background-color: #fff;
	float: left;
	padding: 50px 0 100px;
	display: inline;
	width: 100%;
}

.mu-how-to-area {
	display: inline;
	float: left;
	text-align: center;
	width: 100%;
}

.mu-how-to-area h2 {
	color: #333;
	
}

.mu-how-to-content {
	display: inline;
	float: left;
	margin-top: 50px;
	width: 100%;
}

.mu-how-to-single {
	display: inline;
	float: left;
	width: 100%;
	padding: 0 5px;
}

.my-how-to-single-icon {
	border: 1px solid #ccc;
	font-size: 30px;
	display: inline-block;
	width: 85px;
	height: 85px;
	line-height: 85px;
	border-radius: 50%;
	margin-bottom: 20px;
}

.mu-how-to-single h3 {
	font-size: 22px;
	margin-bottom: 15px;
}

.mu-how-to-single p {
	font-size: 15px;
}

.mu-playlists-area{
	color: white
}

/* Search Content */

#mu-video {
	background-image: url("../images/edm.gif");
	background-attachment: fixed;
	background-position: center center;
	-webkit-background-size: cover;
	background-size: cover;
	display: inline;
	float: left;
	position: relative;
	width: 100%;
}

#mu-video:after{
	content: '';
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	height: 100%;
	opacity: 0.94;
	width: 100%;
	z-index: 10;
}

.mu-video-area {
	display: inline;
	float: left;
	position: relative;
	padding: 100px 0;
	text-align: center;
	width: 100%;
	z-index: 99;
}

.mu-video-area h2,
.mu-video-area p {
	color: #fff;
}

/* Search Bar */
.sbx-custom {
  display: inline-block;
  position: relative;
  width: 300px;
  height: 51px;
  white-space: nowrap;
  box-sizing: border-box;
  font-size: 14px;
}

.sbx-custom__wrapper {
  width: 100%;
  height: 100%;
}

.sbx-custom__input {
  display: inline-block;
  -webkit-transition: box-shadow .4s ease, background .4s ease;
  transition: box-shadow .4s ease, background .4s ease;
  border: 0;
  border-radius: 30px;
  box-shadow: inset 0 0 0 1px #5CFF21;
  background: #FFFFFF;
  padding: 0;
  padding-right: 41px;
  padding-left: 51px;
  width: 100%;
  height: 100%;
  vertical-align: middle;
  white-space: normal;
  font-size: inherit;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.sbx-custom__input::-webkit-search-decoration, .sbx-custom__input::-webkit-search-cancel-button, .sbx-custom__input::-webkit-search-results-button, .sbx-custom__input::-webkit-search-results-decoration {
  display: none;
}

.sbx-custom__input:hover {
  box-shadow: inset 0 0 0 1px #3fed00;
}

.sbx-custom__input:focus, .sbx-custom__input:active {
  outline: 0;
  box-shadow: inset 0 0 0 1px #3E8534;
  background: #FFFFFF;
}

.sbx-custom__input::-webkit-input-placeholder {
  color: #BBBBBB;
}

.sbx-custom__input::-moz-placeholder {
  color: #BBBBBB;
}

.sbx-custom__input:-ms-input-placeholder {
  color: #BBBBBB;
}

.sbx-custom__input::placeholder {
  color: #BBBBBB;
}

.sbx-custom__submit {
  position: absolute;
  top: 0;
  right: inherit;
  left: 0;
  margin: 0;
  border: 0;
  border-radius: 29px 0 0 29px;
  background-color: rgba(8, 82, 18, 0);
  padding: 0;
  width: 51px;
  height: 100%;
  vertical-align: middle;
  text-align: center;
  font-size: inherit;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.sbx-custom__submit::before {
  display: inline-block;
  margin-right: -4px;
  height: 100%;
  vertical-align: middle;
  content: '';
}

.sbx-custom__submit:hover, .sbx-custom__submit:active {
  cursor: pointer;
}

.sbx-custom__submit:focus {
  outline: 0;
}

.sbx-custom__submit svg {
  width: 29px;
  height: 29px;
  vertical-align: middle;
  fill: #00FF44;
}

.sbx-custom__reset {
  display: none;
  position: absolute;
  top: 12px;
  right: 12px;
  margin: 0;
  border: 0;
  background: none;
  cursor: pointer;
  padding: 0;
  font-size: inherit;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  fill: rgba(0, 0, 0, 0.5);
}

.sbx-custom__reset:focus {
  outline: 0;
}

.sbx-custom__reset svg {
  display: block;
  margin: 4px;
  width: 19px;
  height: 19px;
}

.sbx-custom__input:valid ~ .sbx-custom__reset {
  display: block;
  -webkit-animation-name: sbx-reset-in;
          animation-name: sbx-reset-in;
  -webkit-animation-duration: .15s;
          animation-duration: .15s;
}

@-webkit-keyframes sbx-reset-in {
  0% {
    -webkit-transform: translate3d(-20%, 0, 0);
            transform: translate3d(-20%, 0, 0);
    opacity: 0;
  }
  100% {
    -webkit-transform: none;
            transform: none;
    opacity: 1;
  }
}

@keyframes sbx-reset-in {
  0% {
    -webkit-transform: translate3d(-20%, 0, 0);
            transform: translate3d(-20%, 0, 0);
    opacity: 0;
  }
  100% {
    -webkit-transform: none;
            transform: none;
    opacity: 1;
  }
}
/* Dropdown Button */


#personal {
  color:white;
  text-decoration:none;
  position:absolute;
  bottom:15px;
  right:2%;
}
/*    start code for the actual button:         */


/*   
    Spot is the span on the inside of the href that
    fills the parent and makes the hover and link work
    for the entire div
*/

.spot {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
/*
    This is the outer svg wrapper that the SVG itself will 
    fill. Multiple svg-wrapper classes can be put side by side.
*/

.svg-wrapper {
  margin-top: 0;
  position: relative;
  width: 150px;
  /*make sure to use same height/width as in the html*/
  height: 40px;
  display: inline-block;
  border-radius: 3px;
  margin-left: 5px;
  margin-right: 5px
}
/*
  This is where we define the fill, color, thickness,
  and stroke pattern of the SVG when there is no hover.
  The dasharray and offset together define the line position
  under the words. Here's also where the transition speed is set.
*/

#shape {
  stroke-width: 6px;
  fill: transparent;
  stroke: #009FFD;
  stroke-dasharray: 85 400;
  stroke-dashoffset: -220;
  transition: 1s all ease;
}
/* 
    Pushing the text up into the SVG. Without this the
    text would be below the div's.
*/

.text {
  margin-top: -35px;
  text-align: center;
}

.text a {
  color: white;
  text-decoration: none;
  font-weight: 100;
  font-size: 1.1em;
}
/* 
    Changing the shape on hover. I change the color of the stroke,
make it thinner, then set it to again wrap around the entire parent element.
*/

.svg-wrapper:hover #shape {
  stroke-dasharray: 50 0;
  stroke-width: 3px;
  stroke-dashoffset: 0;
  stroke: #06D6A0;
}

button {
	background-color: Transparent;
	background-repeat:no-repeat;
	border: none;
	cursor:pointer;
	overflow: hidden;
	outline:none;
	color: white;
}

/* Music Results */

#mu-music-results {
	background-color: #fff;
	float: left;
	padding: 100px 0;
	display: inline;
	width: 100%;
}

.mu-music-results-area {
	display: inline;
	float: left;
	text-align: center;
	width: 100%;
}

.mu-music-results-area h2 {
	color: #333;	
}

.mu-title-content {
	padding: 0 10%;
}

.mu-music-results-content {
	display: inline;
	float: left;
	margin-top: 40px;
	width: 100%;
}

.mu-music-results-single {
	background-color: #f8f8f8;
	display: inline;
	float: left;
	width: 100%;
	margin: 15px 0;
}

.mu-music-results-single-info {
	display: inline;
	float: left;
	position: relative;
	width: 100%;
	padding: 20px 10px;
}

.mu-result-results-single h3 {
	font-size: 22px;
	margin-bottom: 5px;
}

.mu-music-results-single h4 {
	font-size: 16px;
	margin-bottom: 10px;
	font-weight: 300;
}


.mu-music-results-single p {
	font-size: 15px;
}

.mu-music-results-single-info .mu-book-now-btn {
	margin-top: 10px;
	font-size: 15px;
	text-transform: capitalize;
	float: right;
}

/* Playlists */

#mu-playlists {
	background-image: url("../images/party.gif");
	background-position: center center;
	background-size: cover;
	background-attachment: fixed;
	display: inline;
	float: left;
	position: relative;
	width: 100%;
}

#mu-playlists::before {
	background: rgba(0,0,0,0.5);
	bottom: 0;
	content: '';
	left: 0;
	top: 0;
	right: 0;
	position: absolute;
}

.mu-playlists-area {
	display: inline;
	float: left;
	padding: 150px 0 175px;
	width: 100%;
}

.mu-playlists-area h2 {
	color: #fff;
	text-align: center;
}

.mu-playlists-block {
	display: inline;
	float: left;
	margin-top: 60px;
	width: 100%;
}

.mu-playlists-slide li{
	list-style: none;
	text-align: center;
}

.mu-playlists-quote {
	font-size: 35px;
	opacity: 0.7;
	margin-bottom: 25px;
}

.mu-playlists-slide li p {
	color: #fff;
	padding: 0 10%;
}

.mu-playlists-slide .mu-rt-img {
	border-radius: 50%;
	width: 100px;
	height: 100px;
	margin-top: 15px;
	display: inline-block;
}

.mu-rt-name {
	margin-bottom: 5px;
	color: #fff;
	line-height: 1;
	margin-top: 25px;
	letter-spacing: 1px;
}

.mu-rt-title {
	color: #fff;
	font-size: 14px;
}

.mu-playlists-slide .slick-dots {
    bottom: -50px;
}

.mu-playlists-slide .slick-dots li {
	background-color: #f8f8f8;
	height: 4px;	
	-webkit-transition: all 0.5s;
	transition: all 0.5s;
}


.mu-playlists-slide .slick-dots li button {
	display: none;
}


/*--------------------*/
/* FOOTER */
/*--------------------*/


#mu-footer {
	background-color: #fff;
	display: inline;
	float: left;
	width: 100%;
}

.mu-footer-area{
	display: inline;
	float: left;
	padding: 30px 0;
	text-align: center;
	width: 100%;
}

.mu-footer-right {
	display: inline;
	float: left;
	width: 100%;
}

.mu-social-media {
	display: inline;
	float: left;
	width: 100%;
}

.mu-social-media a {
	border: 1px solid #19191a;
	border-radius: 6px;
	color: #19191a;
	display: inline-block;
	margin-right: 10px;
	text-align: center;
	text-decoration: none;
	transition: all 0.2s ease-in-out 0s;
	width: 35px;
	height: 35px;
	line-height: 35px;
	font-size: 15px;
}

.mu-footer-left {
	display: inline;
	float: left;
	width: 100%;
}

.mu-copy-right {
	margin-bottom: 0;
	margin-top: 6px;
}

.mu-copy-right a {
	font-weight: 600;
	-webkit-transition: all 0.5s;
	transition: all 0.5s;
}



/*--------------------*/
/* RESPONSIVE STYLE */
/*--------------------*/

@media (max-width: 1199px) {

	.mu-about-right {
		margin-top: 20px;
		width: 140%;
		padding: 25px;
		margin-left: -190px;
	}

	.mu-clients-slider .slick-prev {
		left: -40px;
	}

	#mu-google-map iframe {
		height: 450px;
	}
		
}

@media (max-width: 991px) {	

	.mu-primary-btn {
		font-size: 14px;
		padding: 12px 22px;
	}

	.mu-hero-featured-content h1 {
		font-size: 35px;
	}

	.mu-hero-featured-content h2 {
		color: #fff;
		font-size: 20px;
	}

	.mu-about-left img {
		max-width: none;
		width: 115%;
	}

	.mu-about-right {
		margin-top: 75px;
		width: 160%;
		padding: 20px;
		margin-left: -190px;
	}

	.mu-about-right p {
		font-size: 14px;
	}

	.mu-how-to-single {
		padding: 0;
	}

	.mu-music-results-single p {
		font-size: 14px;
	}

	.mu-music-results-single-info .mu-play-add-btn {
		font-size: 14px;
	}


	.mu-video-content iframe {
		width: 100%;
		height: 400px;
	}

	.mu-playlists-slider .slick-next {
		right: -20px;
	}

	.mu-playlists-slider .slick-prev {
		left: -20px;
	}


}

@media (max-width: 767px) {
	
	.mu-logo-area {
		width: 100%;
		text-align: center;
	}

	.mu-hero-top-info {
		text-align: center;
		width: 100%;
	}

	.mu-hero-top-info ul {
		margin-top: 20px;
	}

	.mu-hero-top-info ul li {
		border-left: none;
		float: none;
		border-right: 1px solid #f8f8f8;
	}

	.mu-hero-top-info ul li:last-child {
		border-left: 0;
		border-right: 0;
	}

	.mu-hero-featured-area {
		padding: 0px 0 50px;
	}

	.mu-about-area {
		padding: 50px 0;
	}

	.mu-about-left img {
		max-width: 100%;
		width: auto;
	}

	.mu-about-right {
		margin-top: 30px;
		width: 100%;
		padding: 0;
		margin-left: 0;
		box-shadow: none;
	}

	.mu-about-right p {
		font-size: 15px;
	}

	#mu-how-to {
		padding: 50px 0 50px;
	}

	.mu-how-to-single {
		margin-bottom: 40px;
	}

	.mu-title-content {
		padding: 0;
		font-size: 15px;
	}

	.mu-video-area {
		padding: 80px 0;
	}

	.mu-video-content {
		margin-top: 30px;
	}

	#mu-music-results {
		padding: 60px 0;
	}

	.mu-music-results-content {
		margin-top: 20px;
	}

	.mu-music-results-single-info {
		padding: 20px;
	}

	.mu-playlists-area {
		padding: 100px 0 125px;
	}


	.mu-social-media {
		margin-top: 15px;
	}			
		
}


@media (max-width: 640px){
	
	.mu-hero-featured-content h1 {
		font-size: 30px;
	}

	.mu-hero-featured-content p {
		font-size: 16px;
		line-height: 1.5;
		letter-spacing: 0.5px;
	}

	.mu-hero-featured-content {
		margin-top: 30px;
	}

	#mu-how-to {
		padding: 20px 0 50px;
	}

	.scrollToTop {
		font-size: 25px;
		line-height: 43px;
		width: 45px;
		height: 45px;
		border-radius: 8px;
	}						

}


@media (max-width: 480px) {

	body {
		font-size: 14px;
	}

	.mu-logo {
		margin-bottom: 10px;
		font-size: 30px;
	}

	.mu-hero-featured-content {
		margin-top: 20px;
	}

	.mu-hero-featured-content h1 {
		font-size: 25px;
	}

	.mu-hero-featured-content h2 {
		font-size: 14px;
	}

	.mu-hero-featured-content p {
		font-size: 15px;
	}

	.mu-scrolldown {
		font-size: 35px;
		margin-top: 40px;
	}
	
	h2 {
		font-size: 28px;
	}

	h3 {
		font-size: 24px;
	}

	h4 {
		font-size: 20px;
	}

	.mu-video-content iframe {
		width: 100%;
		height: 300px;
	}

	.mu-playlists-area {
		padding: 50px 0 75px;
	}

	.mu-playlists-block {
		margin-top: 30px;
	}

	.mu-playlists-slide li p {
		padding: 0 5%;
		font-size: 15px;
	}

	.mu-social-media a {
		width: 30px;
		height: 30px;
		line-height: 30px;
		font-size: 14px;
	}
					
	
}

@media (max-width: 360px) {


	.mu-hero-featured-area {
		padding: 0 0 30px;
	}

	.mu-hero-top-info ul li {
		font-size: 14px;
	}

	h2 {
		font-size: 25px;
	}

	.mu-video-content iframe {
		height: 250px;
	}

	.mu-playlists-quote {
		font-size: 30px;
		margin-bottom: 10px;
	}

	.mu-rt-name {
		margin-bottom: 0px;
		margin-top: 15px;
	}

	.mu-playlists-slide .mu-rt-img {
		width: 80px;
		height: 80px;
		margin-top: 0px;
	}

	.mu-playlists-slide .slick-dots {
		bottom: -40px;
	}

	.mu-playlists-area {
		padding: 50px 0 55px;
	}

}



@media (max-width: 320px) {
	
	h2 {
		font-size: 22px;
	}

	.mu-hero-top-info ul {
		margin-top: 0px;
	}
	
	
}


